examples/ghost-book/src/main/resources/xsd/ghosts.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://org.khorum-oss.com/ghost-book"
           xmlns="http://org.khorum-oss.com/ghost-book"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="createGhostRequest" type="CreateGhostRequest"/>

  <xs:element name="createGhostResponse" type="CreateGhostResponse"/>

  <xs:element name="getGhostRequest" type="GetGhostRequest"/>

  <xs:element name="getGhostResponse" type="GetGhostResponse"/>

  <xs:element name="listGhostsRequest" type="ListGhostsRequest"/>

  <xs:element name="listGhostsResponse" type="ListGhostsResponse"/>

  <xs:complexType name="CreateGhostRequest" final="extension restriction">
    <xs:sequence>
      <xs:element name="type" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="origin" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateGhostResponse" final="extension restriction">
    <xs:sequence>
      <xs:element name="ghost" type="Ghost"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ghost" final="extension restriction">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="origin" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetGhostRequest" final="extension restriction">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetGhostResponse" final="extension restriction">
    <xs:sequence>
      <xs:element name="ghost" type="Ghost" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ListGhostsRequest" final="extension restriction">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="ListGhostsResponse" final="extension restriction">
    <xs:sequence>
      <xs:element name="ghost" type="Ghost" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

